In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

In [3]:
soup = BeautifulSoup(webpage)

In [4]:
company = soup.find_all('div', class_='company-content-wrapper')

In [5]:
name = []
rating = []
reviews = []
ctype = []
hq = []
old = []
employees = []
desc = []

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('p', class_='rating').text.strip())
    reviews.append(i.find('a', class_='review-count').text.strip())
    ctype.append(i.find_all('p', class_='infoEntity')[0].text.strip())
    hq.append(i.find_all('p', class_='infoEntity')[1].text.strip())
    old.append(i.find_all('p', class_='infoEntity')[2].text.strip())
    employees.append(i.find_all('p', class_='infoEntity')[3].text.strip())
    
    
    
d = {'name':name,'rating':rating,'reviews':reviews,'type':ctype,'hq':hq,'old':old,'employees':employees}

df = pd.DataFrame(d)

df

,name,rating,reviews,type,hq,old,employees
0,TCS,3.9,(36.4k Reviews),Public,"Mumbai,Maharashtra + 230 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,(24.6k Reviews),Public,"Dublin,Dublin + 126 more",33 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,(22.7k Reviews),Private,"Teaneck,New Jersey + 85 more",28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(29.5k Reviews),Public,"Mumbai,Maharashtra + 957 more",28 years old,50k-1 Lakh Employees (India)
4,HDFC Bank,4.0,(30.4k Reviews),Public,"Mumbai,Maharashtra + 1047 more",28 years old,1 Lakh+ Employees (India)
5,Wipro,3.9,(21.1k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 244 more",77 years old,1 Lakh+ Employees (India)
6,Capgemini,3.8,(18.1k Reviews),Public,Paris + 67 more,55 years old,1 Lakh+ Employees (India)
7,HCL Technologies,3.8,(17.9k Reviews),Public,"Noida,Uttar Pradesh + 151 more",46 years old,1 Lakh+ Employees (India)
8,Infosys,4.0,(21.6k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 115 more",41 years old,1 Lakh+ Employees (India)
9,Tech Mahindra,3.7,(17.1k Reviews),Public,"Pune,Maharashtra + 172 more",36 years old,50k-1 Lakh Employees (India)
10,Genpact,4.0,(16.7k Reviews),Private,"New York,New York + 54 more",25 years old,50k-1 Lakh Employees (India)
11,Axis Bank,3.9,(15.6k Reviews),Public,"Mumbai,Maharashtra + 940 more",29 years old,50k-1 Lakh Employees (India)
12,Reliance jio,4.0,(12.5k Reviews),Public,"Navi Mumbai,Maharashtra + 866 more",15 years old,10k-50k Employees (India)
13,IBM,4.1,(12.6k Reviews),Public,"Armonk,New York + 105 more",111 years old,1 Lakh+ Employees (India)
14,Larsen & Toubro ...,4.0,(15.9k Reviews),Public,"Mumbai,Maharashtra + 461 more",84 years old,10k-50k Employees (India)
15,Vodafone Idea,4.2,(12.2k Reviews),Public,"Gandhinagar,Gujrat + 531 more",4 years old,10k-50k Employees (India)
16,Concentrix Corpo...,4.1,(12.1k Reviews),Public,"Fremont,California + 56 more",39 years old,10k-50k Employees (India)
17,Amazon,4.2,(11.9k Reviews),Private,"Seattle,Washington + 308 more",28 years old,1 Lakh+ Employees (India)
18,HDB Financial Se...,4.0,(10.8k Reviews),Private,"Ahmedabad,Gujrat + 667 more",15 years old,1 Lakh+ Employees (India)
19,Kotak Mahindra B...,3.9,(11.2k Reviews),Public,"Mumbai,Maharashtra + 437 more",19 years old,10k-50k Employees (India)
20,Teleperformance,3.6,(8.3k Reviews),Private,Paris + 107 more,44 years old,50k-1 Lakh Employees (India)
21,Bharti Airtel,4.1,(10.9k Reviews),Public,"Gurgaon/Gurugram,Haryana + 446 more",27 years old,5k-10k Employees (India)
22,Tata Motors,4.1,(7.8k Reviews),Public,"Pune,Maharashtra + 365 more",77 years old,50k-1 Lakh Employees (India)
23,Reliance Industr...,4.0,(33.1k Reviews),Public,"Navi Mumbai,Maharashtra + 376 more",49 years old,1 Lakh+ Employees (India)
24,Deloitte,4.0,(7.2k Reviews),Private,"New York,New York + 126 more",177 years old,10k-50k Employees (India)
25,Reliance Retail,4.1,(10.7k Reviews),Private,"Navi Mumbai,Maharashtra + 452 more",16 years old,1 Lakh+ Employees (India)
26,Mahindra & Mahin...,4.1,(17.4k Reviews),Public,"Mumbai,Maharashtra + 366 more",77 years old,10k-50k Employees (India)
27,IndusInd Bank,3.8,(5.7k Reviews),Public,"Gurgaon/Gurugram,Haryana + 505 more",28 years old,10k-50k Employees (India)
28,WNS,3.7,(5.5k Reviews),Private,"Mumbai,Maharashtra + 19 more",26 years old,10k-50k Employees (India)
29,Hinduja Global S...,3.9,(5.3k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 70 more",22 years old,10k-50k Employees (India)

In [6]:
final = pd.DataFrame()

for j in range(1,11):
    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    webpage = requests.get(url).text
    soup = BeautifulSoup(webpage)
    company = soup.find_all('div', class_='company-content-wrapper')
    
    name = []
    rating = []
    reviews = []
    ctype = []
    hq = []
    old = []
    employees = []
    
    
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('p', class_='rating').text.strip())
        reviews.append(i.find('a', class_='review-count').text.strip())
        ctype.append(i.find_all('p', class_='infoEntity')[0].text.strip())
        hq.append(i.find_all('p', class_='infoEntity')[1].text.strip())
        
        try:
            old.append(i.find_all('p', class_='infoEntity')[2].text.strip())
        except:
            old.append(np.nan)
            
        try:
            employees.append(i.find_all('p', class_='infoEntity')[3].text.strip())
        except:
            employees.append(np.nan)



    d = {'name':name,'rating':rating,'reviews':reviews,'type':ctype,'hq':hq,'old':old,'employees':employees}

    df = pd.DataFrame(d)
    final = final.append(df, ignore_index=True)

C:\Users\Gaurav\AppData\Local\Temp\ipykernel_14104\974553855.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df, ignore_index=True)

In [9]:
final.sample(50)

,name,rating,reviews,type,hq,old,employees
62,Bajaj Finance,4.2,(3.2k Reviews),Private,"Pune,Maharashtra + 549 more",35 years old,1k-5k Employees (India)
258,GeBBS Healthcare...,3.8,(1.3k Reviews),Private,"Culver City,California + 10 more",17 years old,1k-5k Employees (India)
46,IDFC FIRST Bank,3.9,(3.9k Reviews),Public,"Mumbai,Maharashtra + 302 more",4 years old,10k-50k Employees (India)
166,Cummins,4.4,(1.8k Reviews),"Columbus,Indiana + 73 more",60 years old,10k-50k Employees (India),NaN
55,NTT DATA,4.0,(6.9k Reviews),Private,"Chiyoda City,Tokyo + 33 more",34 years old,10k-50k Employees (India)
125,Nagarjuna Constr...,4.1,(2.1k Reviews),Public,"Hyderabad/Secunderabad,Telangana + 159 more",24 years old,201-500 Employees (India)
116,UnitedHealth,4.1,(3.6k Reviews),Private,"Minnetonka,Minnesota + 11 more",45 years old,10k-50k Employees (India)
276,Fiserv,3.9,(1.2k Reviews),Private,"Brookfield,Wisconsin + 26 more",51 years old,501-1k Employees (India)
170,Schneider Electr...,4.2,(3.3k Reviews),Private,Paris + 60 more,23 years old,10k-50k Employees (India)
176,VE Commercial Ve...,4.1,(1.7k Reviews),Private,"Gurgaon/Gurugram,Haryana + 96 more",14 years old,1k-5k Employees (India)
175,Intas Pharmaceut...,4.3,(1.7k Reviews),Private,"Ahmedabad,Gujrat + 89 more",22 years old,5k-10k Employees (India)
221,Vishal Mega Mart,4.0,(1.5k Reviews),Private,"Ahmedabad,Gujrat + 211 more",14 years old,5k-10k Employees (India)
149,Ford Motor,4.5,(2.1k Reviews),Public,"Dearborn,Michigan + 96 more",119 years old,5k-10k Employees (India)
145,ICICI Lombard Ge...,3.8,(1.9k Reviews),Public,"Mumbai,Maharashtra + 178 more",21 years old,5k-10k Employees (India)
232,Landmark Group,4.3,(4.2k Reviews),Private,"Dubai Marina,Dubai + 95 more",49 years old,1k-5k Employees (India)
295,Blue Star,4.1,(1.2k Reviews),Public,"Mumbai,Maharashtra + 97 more",79 years old,1k-5k Employees (India)
219,MRF Tyres,3.7,(1.5k Reviews),Public,"Chennai,Tamil Nadu + 155 more",76 years old,1k-5k Employees (India)
213,Rivigo,3.9,(1.5k Reviews),Private,"Gurgaon,Haryana + 137 more",8 years old,1k-5k Employees (India)
128,State Bank of In...,4.0,(2k Reviews),"Mumbai,Maharashtra + 290 more",216 years old,1 Lakh+ Employees (India),NaN
158,L&T Construction,4.0,(1.9k Reviews),Public,Chennai + 214 more,78 years old,50k-1 Lakh Employees (India)
281,Sapient Corporat...,3.9,(1.4k Reviews),Private,"New York,New York + 14 more",32 years old,5k-10k Employees (India)
44,Sutherland Globa...,3.8,(4.3k Reviews),Private,"Pittsford,New York + 38 more",36 years old,10k-50k Employees (India)
267,Utkarsh Small Fi...,4.0,(1.3k Reviews),Public,"Varanasi,Uttar Pradesh + 182 more",13 years old,1k-5k Employees (India)
138,Muthoot Group,3.6,(3.9k Reviews),Public,"Wedel,Schleswig-holstein + 306 more",135 years old,1k-5k Employees (India)
253,NIIT Technologie...,3.4,(1.3k Reviews),Public,"Noida,Uttar Pradesh + 75 more",18 years old,5k-10k Employees (India)
169,Indiamart Interm...,3.8,(1.8k Reviews),Private,"Noida,Uttar Pradesh + 90 more",26 years old,10k-50k Employees (India)
211,24/7 Customer,3.6,(1.5k Reviews),Private,"San Jose,California + 16 more",22 years old,5k-10k Employees (India)
203,Pidilite Industr...,4.4,(1.6k Reviews),Public,"Mumbai,Maharashtra + 158 more",63 years old,5k-10k Employees (India)
104,First Source,3.9,(2.4k Reviews),Public,"Mumbai,Maharashtra + 43 more",21 years old,5k-10k Employees (India)
214,Virtusa Consulti...,3.7,(1.5k Reviews),Private,"Southborough,Massachusetts + 20 more",26 years old,5k-10k Employees (India)
239,Lifestyle,4.3,(1.4k Reviews),Private,"Bangalore/Bengaluru,Karnataka + 79 more",8 years old,10k-50k Employees (India)
95,Hero MotoCorp,4.3,(2.6k Reviews),Public,"Gurgaon/Gurugram,Haryana + 244 more",38 years old,5k-10k Employees (India)
67,L&T Infotech,3.9,(3.1k Reviews),Public,"Mumbai,Maharashtra + 75 more",26 years old,10k-50k Employees (India)
144,Wipro Enterprise...,3.8,(1.9k Reviews),Bangalore + 63 more,77 years old,1 Lakh+ Employees (India),NaN
250,Biocon Biologics...,4.0,(1.3k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 53 more",44 years old,10k-50k Employees (India)
85,JP Morgan Chase,4.1,(2.7k Reviews),Private,"New York,New York + 17 more",22 years old,10k-50k Employees (India)
70,Reliance Communi...,4.0,(3.4k Reviews),Public,"Navi Mumbai,Maharashtra + 354 more",20 years old,10k-50k Employees (India)
180,Tata Teleservice...,4.1,(1.7k Reviews),Public,"Mumbai,Maharashtra + 153 more",26 years old,201-500 Employees (India)
20,Teleperformance,3.6,(8.3k Reviews),Private,Paris + 107 more,44 years old,50k-1 Lakh Employees (India)
184,GlobalLogic,4.0,(1.7k Reviews),Private,"San Jose,California + 21 more",22 years old,5k-10k Employees (India)
226,Dabur,4.2,(1.4k Reviews),Public,"Ghaziabad,Uttar Pradesh + 165 more",138 years old,5k-10k Employees (India)
181,Atos,3.8,(5.7k Reviews),Private,"Vilnius,Vilniaus Apskritis + 28 more",25 years old,10k-50k Employees (India)
199,DCB Bank,3.9,(1.6k Reviews),Private,"Mumbai,Maharashtra + 208 more",92 years old,5k-10k Employees (India)
143,Equitas Small Fi...,4.1,(1.9k Reviews),Private,"Chennai,Tamil Nadu + 264 more",15 years old,1k-5k Employees (India)
45,ICICI Prudential...,4.1,(3.9k Reviews),Public,"Mumbai,Maharashtra + 384 more",22 years old,10k-50k Employees (India)
107,Delhivery,4.2,(2.4k Reviews),Private,"Delhi,NCT + 373 more",11 years old,10k-50k Employees (India)
132,Muthoot Fincorp,4.0,(2k Reviews),Private,"Trivandrum/Thiruvananthapuram,Kerala + 372 more",135 years old,10k-50k Employees (India)
131,Motherson Sumi S...,3.9,(3.1k Reviews),Public,"Noida,Uttar Pradesh + 58 more",36 years old,1k-5k Employees (India)
275,Tata AIG General...,4.2,(1.2k Reviews),Private,"Mumbai,Maharashtra + 163 more",22 years old,5k-10k Employees (India)
193,Reliance Nippon ...,3.9,(1.6k Reviews),Private,"Mumbai,Maharashtra + 356 more",22 years old,10k-50k Employees (India)